<%= form_with(model: @employee, local: true, multipart: true) do |form| %>
<div class = "row">

	<div class = "col-lg-4">
	<div class = "form-group">
		<%= form.label :first_name, class: "mb-2" %>
		<%= form.text_field :first_name, class: "form-control form-control-lg" %>
		<% @employee.errors.full_messages_for(:first_name).each do |message| %>
		<p class = "text-danger"><%= message %></p>
		<% end %>
	</div>
	</div>

<div class = "col-lg-4">
	<div class = "form-group">
		<%= form.label :last_name, class: "mb-2" %>
		<%= form.text_field :last_name, class: "form-control form-control-lg" %>
		<% @employee.errors.full_messages_for(:last_name).each do |message| %>
		<p class = "text-danger"><%= message %></p>
		<% end %>

	</div>
	</div>

<div class = "col-lg-4">
	<div class = "form-group">
		<%= form.label :email, class: "mb-2" %>
		<%= form.email_field :email, class: "form-control form-control-lg" %>
		<% @employee.errors.full_messages_for(:email).each do |message| %>
		<p class = "text-danger"><%= message %></p>
		<% end %>
     </div>
	</div>
</div>
<div class = "row">
<div class = "col-lg-4">
	<div class = "form-group">
		<%= form.label :position, class: "mb-2 mt-2" %>
		<%= form.text_field :position, class: "form-control form-control-lg" %>
		<% @employee.errors.full_messages_for(:position).each do |message| %>
		<p class = "text-danger"><%= message %></p>
		<% end %>

	</div>
	</div>

	<div class = "col-lg-4">
	<div class = "form-group">
		<%= form.label :department, class: "mb-2 mt-2" %>
		<%= form.text_field :department, class: "form-control form-control-lg" %>
		<% @employee.errors.full_messages_for(:department).each do |message| %>
		<p class = "text-danger"><%= message %></p>
		<% end %>

	</div>
	</div>

<div class = "col-lg-4">
	<div class = "form-group">
		<%= form.label :salary, class: "mb-2 mt-2" %>
		<%= form.text_field :salary, class: "form-control form-control-lg" %>
		<% @employee.errors.full_messages_for(:salary).each do |message| %>
		<p class = "text-danger"><%= message %></p>
		<% end %>
	</div>
	</div>
</div>
<div class = "row">

	<div class = "col-lg-4">
	<div class = "form-group">
		<%= form.label :hired_on, class: "mb-2 mt-2" %>
		<%= form.date_field :hired_on, class: "form-control form-control-lg" %>
		<% @employee.errors.full_messages_for(:hired_on).each do |message| %>
		<p class = "text-danger"><%= message %></p>
		<% end %>
	</div>
	</div>
	<div class = "col-lg-4">
	<div class = "form-group">
		 <%= form.label :image, class: "mb-2 mt-2" %>
    <%= form.file_field :image, class: "form-control form-control-lg" %>
		<% @employee.errors.full_messages_for(:image).each do |message| %>
		<p class = "text-danger"><%= message %></p>
		<% end %>
	</div>
	</div>
	
</div>
<div class = "row">
	<div clas = "col-lg-12">
	<%= form.submit class: "btn btn-dark mt-4 rounded-0" %>
	<%= link_to "Back to Employees", root_path, class: "btn btn-outline-dark mt-4 rounded-0" %>

</div>
</div>

<% end %>